/*Seleciona o corpo inteiro da página*/
body {
  /define a cor do texto*/
  color: white;
  /*background-color; black;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

